[Desktop Entry]
Encoding=UTF-8
Name=Dwe
Comment=Dwe P2P Cryptocurrency
Comment[fr]=Dwe, monnaie virtuelle cryptographique pair à pair
Comment[tr]=Dwe, eşten eşe kriptografik sanal para birimi
Exec=dwe-qt %u
Terminal=false
Type=Application
Icon=dwe128
MimeType=x-scheme-handler/dwe;
Categories=Office;Finance;
